
/******************************
 *-----------------------------
 * タグ、レイアウト
 *-----------------------------
*******************************/

html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-color:#fff;
    font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    /*margin: 0;*/
    height: 100%;	/* 縦の高さを100% */
}

hr {
    margin: 0;
}
li {
    list-style-type: none;
    padding: 5px 0;
}
a {
    text-decoration: none;
}

#wrap {
    width: 100%;
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

#contents {
    padding-bottom: 372px;
}

#footer {
    background-color: #222222;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 372px;
}

/******************************
 *-----------------------------
 * 共通
 *-----------------------------
*******************************/

/**
 * ヘッダーナビ
 */
.navbar {
    border-radius: 0;
    padding: 20px 0;
    /*min-height: 200px;*/
}
.navbar div {
    height: 100%;
}
.header-navi {
    color: #fff;
}
.header-navi div ul li a span {
    color: #fff;
}
.nav-left {
    /*margin-top: 120px;*/
    padding: 0 20px;
}
.nav-right {
    /*padding: 50px 0;*/
    text-align: center;
    /*margin-top: 120px;*/
}
.nav-right div {
    padding: 5px;
}
.site-catch {
    margin: 0;
    padding: 0;
    /*margin-top: 50px;*/
}
.site-title {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}
.navbar-inverse {
    margin-bottom: 0px;
}
#post-scenario {
    display: none;
    width: 100%;
}
#auth-control {
    display: none;
}
.auth-button label {
    padding: 5px;
    border-radius: 5px;
}
#search-box {
    display: none;
}

/**
 * フッター
 */
#footer div div div div div p {
    color: #fff;
}
#footer div div div div div {
    /*padding: 20px;*/
    text-align: center;
}
.link-items {
    margin-top: 50px;
}
.link-items a div {
    /*margin-top: 10px;*/
    /*border-bottom: 1px solid #fff;*/
    padding: 5px;
}
.link-items a {
    color: #fff;
}
.copyright {
    margin: 50px 0;
}

/**
 * テーブル表示共通
 */
.table div {
    display: table;
}
.table div p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/******************************
 *-----------------------------
 * トップ画面
 *-----------------------------
*******************************/

/**
 * 作者の方へ、読者の方へ、関係者の方へ
 */
.hang-navi p {
    padding: auto;
    min-height: 50px;
    text-align: center;
    margin: 0 0 30px 0;
    border-top: 1px solid rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.5);
}
.menu-box div {
    height: 50px;
    background-color: #fff;
    /*color: #fff;*/
    font-size: 12px;
    /*border-top: 1px solid #000;*/
    border-bottom: 1px solid #000;
}
.menu-box div:hover {
    color: #222;
    background-color: #ccc;
    /*border-bottom: 5px solid rgb(0, 150, 136);*/
    border-bottom: 5px solid #222;
}
.special-notify div {
    margin-top: 20px;
}
.special-notify div p {
    display: inline-block;
    text-align: left;
    padding: 0.5em;/*文字周りの余白*/
    /*color: #494949;/*文字色*/*/
    background-color: #fff;/*背景色*/
    border-left: solid 5px #fff;/*左線（実線 太さ 色）*/
}
.special-notify div p:first-child {
    /*padding: 0;*/
    padding: 0.5em;/*文字周りの余白*/
    /*color: #494949;/*文字色*/*/
    background-color: #2AB27B;/*背景色*/
    border-left: solid 5px #2AB27B;/*左線（実線 太さ 色）*/
}

/**
 * ランキング & 新着、カテゴリ、その他
 */
.rank-title div {
    height: 50px;
    background-color: #fff;
    margin: 10px 0 10px 0;
}
.rank-title div p {
    /*text-align: left;*/
    border: 1px solid rgba(0,0,0,0.5);
}
.ranking p {
    margin: 30px 0;
    padding: 0.5em;/*文字周りの余白*/
    /*color: #494949;/*文字色*/*/
    background-color: #ccc;/*背景色*/
    border-left: solid 5px #ccc;/*左線（実線 太さ 色）*/
}
.category-pane {
    display: table;
}
.category-pane div {
    display: table-cell;
    width: 50%;
}
.category-pane div a li {
    padding: 4px;
}


/**
 * 広告スペース
 */
.ad-box div {
    margin: 50px 0 50px 0;
}

/**
 * フォロースペース
 */
.follow-box div {
    height: 100px;
    background-color: #fff;
    margin: 40px 0 80px 0;
}
.follow-box div p {
    border: 1px solid rgba(0,0,0,0.5);
}

/******************************
 *-----------------------------
 * ログイン画面
 *-----------------------------
*******************************/

/**
 * ログインボックス上のスペース
 */
.login-space {
    /*height: 100px;*/
    margin: 40px 0;
}

/**
 * Twitterボタン
 */
.btn-twitter {
    padding: 15px;
}
.btn-twitter a p {
    text-align: center;
    color: #1DA1F2;
    border: 1px solid #1DA1F2;
    border-radius: 2px;
    padding: 10px;
}
.btn-twitter a p:hover {
    color: #fff;
    background-color: #1DA1F2;
}

/**
 * LINEボタン
 */
.btn-line {
    padding: 15px;
}
.btn-line a p {
    text-align: center;
    color: #0BBC0B;
    border: 1px solid #0BBC0B;
    border-radius: 2px;
    padding: 10px;
}
.btn-line a p:hover {
    color: #fff;
    background-color: #0BBC0B;
}
/******************************
 *-----------------------------
 * エラー画面
 *-----------------------------
*******************************/
.error-space {
    margin: 50px;
}
.error-box {
    /*text-align: center;*/
    font-size: 20px;
    padding: 20px;
}



/******************************
 *-----------------------------
 * メディアクエリ
 *-----------------------------
*******************************/

@media (min-width: 768px)
{
    .menu-box div {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        font-size: 16px;
        height: 60px;
    }
    .navbar-inverse {
        margin-bottom: 20px;
    }
    #footer {
        height: 280px;
    }
    #contents {
        padding-bottom: 280px;
    }
    #auth-control {
        padding: 0;
        display: none;
    }
    .auth-button label {
        padding: 5px;
        border-radius: 2px;
    }
    #post-scenario {
        display: none;
    }
    .nav-left {
        padding: 0 20px;
    }
    .site-title {
        margin: 0;
        padding: 0;
        font-size: 40px;
        font-weight: bold;
    }
    #search-box {
        display: block;
    }
}

@media (min-width: 992px)
{
    .menu-box div {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        font-size: 16px;
        height: 60px;
    }
    .navbar-inverse {
        margin-bottom: 20px;
    }
    #footer {
        height: 250px;
    }
    #contents {
        padding-bottom: 250px;
    }
    .menu-control div label {
        font-size: 12px;
    }
    #auth-control {
        padding: 0;
        display: block;
    }
    #login-control {
        padding: 2px 4px 0 0;
        width: 130px;
        border: 1px solid #fff;
        border-radius: 3px;
        margin-top: 5px;
        height: 36px;
        white-space: nowrap;
    }
    #login-control li a.dropdown-toggle {
        color: #fff;
    }
    #login-name-box {
        display: inline-block;
        width: 100%;
        padding: 0 5px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #login-control li a.dropdown-toggle{
        text-decoration: none;
    }
    #login-control li a.dropdown-toggle:hover{
        text-decoration: none;
    }
    .auth-button label {
        color: #fff;
        padding: 7px 5px;
        margin-left: -10px;
    }
    #post-scenario {
        display: block;
        padding: 5px 25px 5px 5px;
    }
    .nav-left {
        padding: 0 20px;
    }
    .site-title {
        margin: 0;
        padding: 0;
        font-size: 40px;
        font-weight: bold;
    }
    #search-box {
        display: block;
    }
}

@media (min-width: 1200px)
{
    .menu-box div {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        font-size: 16px;
        height: 60px;
    }
    .navbar-inverse {
        margin-bottom: 20px;
    }
    #footer {
        height: 212px;
    }
    #contents {
        padding-bottom: 212px;
    }
    .menu-control div label {
        font-size: 14px;
    }
    #auth-control {
        padding: 0;
        display: block;
    }
    #auth-control a {
        /*color: #fff;*/
    }
    #auth-control a div label:hover {
        color: #000;
        background-color: #fff;
        cursor: pointer;
    }
    #login-control {
        padding: 2px 4px 0 0;
        width: 166px;
        border: 1px solid #fff;
        border-radius: 3px;
        margin-top: 5px;
        height: 36px;
    }
    #login-control:hover{
        /*color: #000;*/
        /*background-color: #fff;*/
    }
    #login-name-box {
        /*color: #fff;*/
    }
    #login-name-box:hover {
        color: #000;
    }
    .auth-button label {
        color: #fff;
        padding: 5px 10px;
        border-radius: 2px;
        margin-top: 1px;
    }
    #post-scenario {
        display: block;
        padding: 5px 22px 5px 5px;
    }
    .nav-left {
        padding: 0 20px;
    }
    .site-title {
        margin: 0;
        padding: 0;
        font-size: 40px;
        font-weight: bold;
    }
    #search-box {
        display: block;
    }
}
